body {
    background: red;
    color: blue;
    font-size: 10px;
}

table, tr, td, th {
  border-collapse: collapse;
}

.bacon-info {
    background: yellow;
    color: green;
}

.bacon-answer {
    color: white;
    font-family: "Times New Roman";
}
